# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Node
node_modules/
dist/
build/
*.log
npm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo
.venv/
lambda/*.zip
terraform/*.zip

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
